doctype html
html
    head
        title #{course.name} exams | ExamDB
        meta(charset='UTF-8')
        meta(name='description' content='There are ' + course.Exams.length + ' ' + course.name + ' examinations set by the '+course.ExamBoard.name+' exam board.')
        include meta.pug
        link(rel='stylesheet' href='/examdb.css')
        link(rel='alternate' type='application/json' title='JSON' href='/courses/'+course.id+'.json')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        script(src='/library/jquery/jquery.min.js')
        script(src='/library/jquery-tablesort/jquery.tablesort.min.js')
    body
        header
            p
                a(href='/' title='ExamDB Homepage')
                    img(src='/examdb.png' width='64' height='64' alt='')

        section
            h1 #{course.name}

            h2 Upcoming Exams
            p There are #{course.Exams.length} #{course.name} exams.

            table
                thead
                    tr(class='headings')
                        th Code
                        th Paper
                        th Notes
                        th Date
                        th Morning/Afternoon
                        th Duration
                tbody
                    each exam in course.Exams
                        - var dateSort = exam.date + (exam.timeOfDay=='Morning' ? 'T0000' : 'T1200')
                        tr
                            td= exam.code
                            td
                                a(href='/exams/'+exam.id)= exam.paper
                            td= exam.notes
                            td(data-sort-value=dateSort)
                                a(href='/search?q='+moment(exam.date).format('Y-MM-DD'))
                                    = moment(exam.date).format('DD/MMM/Y')
                            td= exam.timeOfDay
                            td= exam.duration


            h2 Related links from around the web
            ul(id='WebResources', class='revision-guides')
                if course.WebResources
                    for webResource in course.WebResources
                        li
                            a(href=webResource.url)= webResource.title 
                    else
                        li None listed

                p  
                    a(href='/courses/'+course.id+'/webresources/add') Add a link
            h2 More like this

            ul
                li
                    a(href='/programmesofstudy/'+course.ProgrammeOfStudy.id) #{course.ProgrammeOfStudy.name} from other exam boards
                li
                    a(href='/examboards/'+course.ExamBoard.id) More subjects from #{course.ExamBoard.name}

            h2 Download this data

            ul
                li
                    a(rel='alternate' type='application/json' href='/courses/'+course.id+'.json') JSON

        script
            | $('table').tablesort();


