doctype html
html
    head
        title #{qualification.name} #{examboard.name} | #{programmeofstudy.name} exams | ExamDB
        meta(charset='UTF-8')
        meta(name='description' content='There are ' + exams.length + ' ' + qualification.name + ' ' + course.name + ' examinations set by the '+examboard.name+' exam board.')
        link(rel='stylesheet' href='/examdb.css')
        link(rel='alternate' type='application/json' title='JSON' href='/courses/'+course.id+'.json')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        header
            p
                a(href='/' title='ExamDB Homepage')
                    img(src='/examdb.png' width='64' height='64' alt='')

        section
            h1 #{qualification.name} #{examboard.name} #{programmeofstudy.name} exams


            p There are #{exams.length} #{qualification.name} #{course.name} examinations set by the #{examboard.name} exam board.

            table
                thead
                    tr(class='headings')
                        th Code
                        th Paper
                        th Notes
                        th Date
                        th Morning/Afternoon
                        th Duration
                tbody
                    each exam in exams
                        tr
                            td= exam.code
                            td
                                a(href='/exams/'+exam.id)= exam.paper
                            td= exam.notes
                            td= exam.date
                            td= exam.timeofday
                            td= exam.duration


            h2 Revison guides
            ul(class='revision-guides')
                if course.bitesize

                    li
                        a(href='https://www.bbc.com/education/examspecs/'+course.bitesize)
                            img(src='/bbc-bitesize.png' alt='BBC Bitesize revision guides' width='40' height='40')
                            = ' BBC Bitesize' 

                else
                    if programmeofstudy.bitesize
                
                        li
                           a(href='https://www.bbc.com/education/subjects/'+programmeofstudy.bitesize)
                                img(src='/bbc-bitesize.png' alt='BBC Bitesize revision guides' width='40' height='40')
                                = ' BBC Bitesize' 
                    else
                        li None listed

            hr

            ul
                li
                    a(href='/programmesofstudy/'+programmeofstudy.id) #{programmeofstudy.name} from other exam boards
                li
                    a(href='/examboards/'+examboard.id) More subjects from #{examboard.name}



