doctype html
html
    head
        title #{qualification.name} #{programmeofstudy.name} | #{exam.paper} | ExamDB
        meta(charset='UTF-8')
        meta(name='description' content='Details of the ' + programmeofstudy.name + ' ' + qualification.name + ' examination set by the ' + examboard.name + ' exam board on the ' + exam.timeofday + ' of ' + exam.date + '.')
        link(rel='stylesheet' href='/examdb.css')
        link(rel='alternate' type='application/json' title='JSON format' href='/exams/'+exam.id+'.json')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        header
            p
                a(href='/' title='ExamDB Homepage')
                    img(src='/examdb.png' width='64' height='64' alt='')
        section
            h1 #{exam.paper} (exam)

            p This #{qualification.name} #{programmeofstudy.name} examination, set by the #{examboard.name} exam board, is scheduled to take place on the #{exam.timeofday} of #{exam.date} and will run for #{exam.duration}.

            p
                a(href='/courses/'+course.id) More like this
            p Code: #{exam.code}
            p Notes: #{exam.notes}
            p Date and time: #{exam.timeofday} of #{exam.date}
                = ' ('
                a(href='/pathways/'+provider.id+'/calendar/week?date='+exam.date) Open calendar
                = ')'
            p Duration: #{exam.duration}
            p Course: 
                a(href='/courses/'+course.id) #{course.name}
            p Qualification:
                a(href='/qualifications/'+qualification.id) #{qualification.name}
            p Exam board:
                a(href='/pathways/'+provider.id) #{examboard.name}

            hr

            ul
                li
                    a(href='/pathways/'+provider.id) More subjects from #{qualification.name} #{examboard.name}
                li
                    a(href='/programmesofstudy/'+programmeofstudy.id) #{programmeofstudy.name} from other exam boards
                li
                    a(href='/pathways/'+provider.id+'/calendar/week?date='+exam.date) Other AQA exams this week
