doctype html
html
    head
        title #{exam.Course.name} | #{exam.paper} | ExamDB
        meta(charset='UTF-8')
        meta(name='description' content='Details of the ' + exam.Course.name + ' examination set on the ' + exam.timeofday + ' of ' + exam.date + '.')
        include meta.pug
        link(rel='stylesheet' href='/examdb.css')
        link(rel='alternate' type='application/json' title='JSON format' href='/exams/'+exam.id+'.json')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        header
            p
                a(href='/' title='ExamDB Homepage')
                    img(src='/examdb.png' width='64' height='64' alt='')
        section
            h1 #{exam.paper} (exam)

            p This #{exam.Course.name} examination, is scheduled to take place on the #{exam.timeOfDay} of #{moment(exam.date).format('DD/MMM/Y')} and will run for #{exam.duration}.

            ul
                li
                    a(href='/courses/'+exam.Course.id) More from this course
                li
                    a(href='/search?q='+moment(exam.date).format('Y-MM-DD')) More on this date
            p Code: #{exam.code}
            p Notes: #{exam.notes}
            p Date and time: #{exam.timeOfDay} of #{moment(exam.date).format('DD/MMM/Y')}
                = ' ('
                a(href='/course/'+exam.Course.id+'/calendar/week?date='+moment(exam.date).format('Y-MM-DD')) Open calendar
                = ')'
            p Duration: #{exam.duration}
            p Course: 
                a(href='/courses/'+exam.Course.id) #{exam.Course.name}
