doctype html
html
	head
		title #{examboard.name} exam board | ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='The exam board '+examboard.name+' sets examinations in '+courses.length+' courses.')
        include meta.pug
		link(rel='stylesheet' href='/examdb.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='alternate' type='application/json' title='JSON format' href='/examboards/'+examboard.id+'.json')
	body

		header
			p
				a(href='/' title='ExamDB Homepage')
					img(src='/examdb.png' width='64' height='64' alt='')

		section
			h1 #{examboard.name} courses

			p The exam board #{examboard.name} sets examinations in #{courses.length} courses.

			ul
				each course in courses
					li
						a(href='/courses/'+course.id) #{course.name}

			h2 Download this data

			ul
				li
					a(rel='alternate' type='application/json' href='/examboards/'+examboard.id+'.json') JSON

