doctype html
html
	head
		title #{qualification.name} #{examboard.name} subjects | ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='The exam board ' + examboard.name + ' sets ' + qualification.name + ' examinations in ' + courses.length + ' subjects.')
		include meta.pug
		link(rel='stylesheet' href='/examdb.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body
		header
			p
				a(href='/' title='ExamDB Homepage')
					img(src='/examdb.png' width='64' height='64' alt='')

		section
			h1 #{qualification.name} #{examboard.name} subjects

			p The exam board #{examboard.name} sets #{qualification.name} examinations in #{courses.length} subjects.

			h2 Calendar
			ul
				li
					a(href='/pathways/'+pathway.id+'/calendar/week')
						| #{qualification.name} #{examboard.name} calendar

			h2 Pick a subject

			ol
				each course in courses
					li
						a(href='/courses/'+course.id) #{course.pos.name}

			hr

			ul
				li
					a(href='/examboards/'+examboard.id) More qualifications from #{examboard.name}
				li
					a(href='/qualifications/'+qualification.id) More providers of #{qualification.name} examinations

