doctype html
html
    head
        title #{programmeOfStudy.name} | ExamDB
        meta(charset='UTF-8')
        meta(name='description' content='There are #{programmeOfStudy.Courses.length} providers (exam boards) for the ' + programmeOfStudy.name + ' exam.')
        link(rel='stylesheet' href='/examdb.css')
        include meta.pug
        link(rel='alternate' type='application/json' title='JSON' href='/programmesofstudy/'+programmeOfStudy.id+'.json')
        link(rel='alternate' type='text/csv' title='CSV' href='/programmesofstudy/'+programmeOfStudy.id+'.csv')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        script(src='/library/jquery/jquery.min.js')
        script(src='/library/jquery-tablesort/jquery.tablesort.min.js')
    body
        header
            p
                a(href='/' title='ExamDB Homepage')
                    img(src='/examdb.png' width='64' height='64' alt='')

        section
            h1 #{programmeOfStudy.name} exams

            h2 Exams

            p There are #{exams.length} #{programmeOfStudy.name} examinations in the database.

            table
                thead
                    tr(class='headings')
                        th Provider
                        th Code
                        th Paper
                        th Notes
                        th Date
                        th Morning/Afternoon
                        th Duration
                tbody
                    each exam in exams
                        if exam.date
                            - var dateSort = exam.date + (exam.timeofday=='Morning' ? 'T0000' : 'T1200')
                            tr
                                td
                                    a(href='/courses/'+exam.Course.id)= exam.Course.name
                                td= exam.code
                                td
                                    a(href='/exams/'+exam.id)= exam.paper
                                td= exam.notes
                                td(data-sort-value=dateSort)
                                    a(href='/search?q='+moment(exam.date).format('Y-MM-DD'))
                                        = moment(exam.date).format('DD/MMM/Y')
                                td= exam.timeofday
                                td= exam.duration

            h2 Revison guides
            ul(class='revision-guides')
                if programmeOfStudy.bitesize
                    li
                        a(href='https://www.bbc.com/bitesize/subjects/'+programmeOfStudy.bitesize)
                            img(src='/bbc-bitesize.png' alt='BBC Bitesize revision guides' width='40' height='40')
                            = ' BBC Bitesize'
                else
                    li None listed

            h2 About the exam providers

            p There are #{programmeOfStudy.Courses.length} providers (exam boards) of the #{programmeOfStudy.name} exam.

            if programmeOfStudy.Courses
                ul
                    each course in programmeOfStudy.Courses
                        if course.id
                            li
                                a(href='/courses/'+course.id) #{course.name}

            h2 Download this data

            p Select a format which suits you best.

            ul
                li
                    a(rel='alternate' type='application/json' href='/programmesofstudy/'+programmeOfStudy.id+'.json') JSON
                li
                    a(rel='alternate' type='text/csv' href='/programmesofstudy/'+programmeOfStudy.id+'.csv') CSV

        script
            | $('table').tablesort();
