doctype html
html
    head
        title #{qualification.name} #{programmeofstudy.name} providers | ExamDB
        meta(charset='UTF-8')
        meta(name='description' content='There are #{courses.length} providers (exam boards) for the ' + qualification.name + ' ' + programmeofstudy.name + ' exam.')
        link(rel='stylesheet' href='/examdb.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        header
            p
                a(href='/') ExamDB

        section
            h1 #{qualification.name} #{programmeofstudy.name}

            p There are #{courses.length} providers (exam boards) of the #{qualification.name} #{programmeofstudy.name} exam.

            ul
                each course in courses
                    li
                        a(href='/courses/'+course.id) #{course.e.name}
