doctype html
html
    head
        title #{qualification.name} #{programmeofstudy.name} | ExamDB
        meta(charset='UTF-8')
        meta(name='description' content='There are #{courses.length} providers (exam boards) for the ' + qualification.name + ' ' + programmeofstudy.name + ' exam.')
        link(rel='stylesheet' href='/examdb.css')
        link(rel='alternate' type='application/json' title='JSON' href='/programmesofstudy/'+programmeofstudy.id+'.json')
        link(rel='alternate' type='text/csv' title='CSV' href='/programmesofstudy/'+programmeofstudy.id+'.csv')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        script(src='/library/jquery/jquery.min.js')
        script(src='/library/jquery-tablesort/jquery.tablesort.min.js')
    body
        header
            p
                a(href='/' title='ExamDB Homepage')
                    img(src='/examdb.png' width='64' height='64' alt='')

        section
            h1 #{qualification.name} #{programmeofstudy.name} exams

            h2 Exams

            p There are #{exams.length}  #{qualification.name} #{programmeofstudy.name} examinations in the database.

            table
                thead
                    tr(class='headings')
                        th Provider
                        th Code
                        th Paper
                        th Notes
                        th Date
                        th Morning/Afternoon
                        th Duration
                tbody
                    each exam in exams
                        - var dateSort = exam.date + (exam.timeofday=='Morning' ? 'T0000' : 'T1200')
                        tr
                            td
                                a(href='/courses/'+exam.c.id)= exam.e.name
                            td= exam.code
                            td
                                a(href='/exams/'+exam.id)= exam.paper
                            td= exam.notes
                            td(data-sort-value=dateSort)= exam.date
                            td= exam.timeofday
                            td= exam.duration

            h2 Revison guides
            ul(class='revision-guides')
                if programmeofstudy.bitesize
                    li
                        a(href='https://www.bbc.com/education/subjects/'+programmeofstudy.bitesize)
                            img(src='/bbc-bitesize.png' alt='BBC Bitesize revision guides' width='40' height='40')
                            = ' BBC Bitesize'
                else
                    li None listed

            h2 About the exam providers

            p There are #{courses.length} providers (exam boards) of the #{qualification.name} #{programmeofstudy.name} exam.

            ul
                each course in courses
                    li
                        a(href='/courses/'+course.id) #{course.e.name}

            h2 Download this data

            | Select a format which suits you best.

            ul
                li
                    a(rel='alternate' type='application/json' href='/programmesofstudy/'+programmeofstudy.id+'.json') JSON
                li
                    a(rel='alternate' type='text/csv' href='/programmesofstudy/'+programmeofstudy.id+'.csv') CSV

        script
            | $('table').tablesort();
