doctype html
html
	head
		title #{qualification.label} providers | ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='There are #{providers.length} providers (exam boards) offering #{qualification.label} examinations.')
		link(rel='stylesheet' href='/examdb.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body
		header
			p
				a(href='/') ExamDB
		
		section
			h1 #{qualification.label} providers

			h2 Pick a provider

			p There are #{providers.length} providers (exam boards) offering #{qualification.label} examinations.

			ul
				each provider in providers
					li
						a(href='/pathways/'+provider.id) #{provider.e.name}
