doctype html
html
	head
		title #{qualification.label} providers | ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='There are #{providers.length} providers (exam boards) offering #{qualification.label} examinations.')
		link(rel='stylesheet' href='/examdb.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body

		p(class='context')
			a(href='/') ExamDB
		p(class='context')
			a(href='/qualifications/'+qualification.id) #{qualification.label}

		p There are #{providers.length} providers (exam boards) offering #{qualification.label} examinations.
		h1 Pick a #{qualification.label} provider (exam board)

		ul
			each provider in providers
				li
					a(href='/pathways/'+provider.id) #{provider.e.name}
