doctype  html
html
	head
		title Search | ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='You can search for exams by examboard, qualification, subject and date.')
		link(rel='stylesheet' href='/examdb.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body

		header
			p
				a(href='/' title='ExamDB Homepage')
					img(src='/examdb.png' width='64' height='64' alt='')
		section
			h1 Search

			p
				small 
					= 'e.g. '
					a(href='/search?q=GCSE') GCSE
					= ' '
					a(href='/search?q=SQA') SQA
					= ' '
					a(href='/search?q=Mathematics') Mathematics
					= ' '
					a(href='/search?q=2018/05/23') 2018/05/23
					= ' '
					a(href='/search?q=today') today
					= ' '
					a(href='/search?q=tomorrow') tomorrow

			form(method='get' action='/search' class='search')
				div
					input(type='text' id='query' name='q' value=query)
					input(type='submit'  name='' value='🔍')

			script
				| document.getElementById("query").focus();

			p You can search for exams by examboard, qualification, subject and date.

			p
				small ℹ️ Please note, search is case sensitive

			if query
				h2 #{results.length} result(s) for '#{query}'

			if results.length
				ul
					each result in results
						li
							if result.isProgrammeOfStudy
								a(href='/programmesofstudy/'+result.id) #{result.qualification} #{result.name} (programme of study)
					
							if result.isQualification
								a(href='/qualifications/'+result.id) #{result.name} (qualification)

							if result.isCourse
								a(href='/courses/'+result.id) #{result.id} (course)

							if result.isExamBoard
								a(href='/examboards/'+result.id) #{result.name} (exam board)
 
							if result.isExam
								a(href='/exams/'+result.id) #{result.paper} (exam)

								
