doctype html
html
	head
		title #{examboard.name} #{qualification.name} | 2008 Week commencing Mon 24 May | ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='There are ' + numberOfExamsThisWeek + ' examinations set by the '+examboard.name+' exam board w/c ' + weekCommencing + '.')
		link(rel='stylesheet' href='/examdb.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		script(src='/library/jquery/jquery.min.js')
		script(src='/library/jquery-tablesort/jquery.tablesort.min.js')
	body
		header
			p
				a(href='/' title='ExamDB Homepage')
					img(src='/examdb.png' width='64' height='64' alt='')

		section
			p(class='context')
				a(href='/pathways/'+pathway.id) #{qualification.name} #{examboard.name}

			h1 2008 Week commencing #{weekCommencing}

			p There are #{numberOfExamsThisWeek} examinations set by the AQA exam board w/c #{weekCommencing}.

			ul
				li
					a(href='?date='+previousWeekCommencing) < Previous week
				li
					a(href='?date='+nextWeekCommencing) Following week >

			each day in days

				if day.active
					div(class='active')

						h2 #{day.date}
						h3 Morning
					
						table
							thead
								tr
									th Code
									th Paper
									th Notes
									th Duration
							tbody
							each exam in day.morning_exams
								tr
									td #{exam.code}
									td
										a(href='/exams/'+exam.id)= exam.paper
									td #{exam.notes}
									td #{exam.duration}

						h3 Afternoon

						table
							thead
								tr
									th Code
									th Paper
									th Notes
									th Duration
							tbody
							each exam in day.afternoon_exams
								tr
									td #{exam.code}
									td
										a(href='/exams/'+exam.id)= exam.paper
									td #{exam.notes}
									td #{exam.duration}
				else
					div

						h2 #{day.date}
						h3 Morning
					
						table
							thead
								tr
									th Code
									th Paper
									th Notes
									th Duration
							tbody
							each exam in day.morning_exams
								tr
									td #{exam.code}
									td
										a(href='/exams/'+exam.id)= exam.paper
									td #{exam.notes}
									td #{exam.duration}

						h3 Afternoon

						table
							thead
								tr
									th Code
									th Paper
									th Notes
									th Duration
							tbody
							each exam in day.afternoon_exams
								tr
									td #{exam.code}
									td
										a(href='/exams/'+exam.id)= exam.paper
									td #{exam.notes}
									td #{exam.duration}


			ul
				li
					a(href='?date='+previousWeekCommencing) < Previous week
				li
					a(href='?date='+nextWeekCommencing) Following week >
		script
			| $('table').tablesort();

